---
import Layout from '../layouts/Layout.astro';
import Header from '../components/common/Header.astro';
import Footer from '../components/common/Footer.astro';
import InternationalSection from '../components/destinations/InternationalSection.astro';
import SpecializedVisasSection from '../components/destinations/SpecializedVisasSection.astro';
import DestinationsHero from '../components/destinations/DestinationsHero.astro';
---

<Layout 
	title="Global Visa & Immigration Destinations | TrueGate Visa"
	description="Explore popular visa pathways and immigration destinations including UK, Canada, Schengen Area, USA, and Australia. Find visa requirements and eligibility parameters."
	keywords="visa destinations, study in UK, immigrate to Canada, Canada Express Entry, Schengen tourist visa, US student visa, Australia PR skilled independent, TrueGate Visa, visa filing"
>
  <Header />

  <main>
    <DestinationsHero />
    <InternationalSection />
    <SpecializedVisasSection />
  </main>

  <Footer />
</Layout>
